#intro {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
}

#intro > .background {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    
    padding-top: 58.59px;
    padding-bottom: 58.59px;
}

.navbar .nav-link {
    color: #fff !important;
}
